/* 
    Document   : styles
    Created on : Oct 4, 2012, 1:49:27 PM
    Author     : Macko
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    width: 600px;
    margin: auto;
}
